<div class="card mat-card4">
    <h2> Hobbies y Gustos</h2>
    <br>
    <br>
    <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
       <div class="card-hobbies">  <img src="/assets/Img/familia.jpg" class="card-img-top" alt="...">  <div class="card-body">  <p class="card-text">Me Encanta pasar tiempo con mi Familia!. Nos gusta disfrutar de los momentos familiares, juegos y comidas.</p>  </div> </div>
       <br></div>
    <div class="col-sm-3 col-md-3 col-lg-3">   
       <div class="card-hobbies">  <img src="/assets/Img/tejiendooo.jpg" class="card-img-top" alt="...">  <div class="card-body">  <p class="card-text">Adoro tejer! He confeccionado muchos gorros y abrigos.Mis trabajos por lo general son a Crochet.</p>  </div> </div>
       <br></div>
    <div class="col-sm-3 col-md-3 col-lg-3">   
       <div class="card-hobbies">  <img src="/assets/Img/test-libros0.jpg" class="card-img-top" alt="...">  <div class="card-body">  <p class="card-text">Librooos, Librooos!! Uno de mis pasatiempos es disfrutar de la Lectura. Sobretodo si son de Ciencia Ficción.</p>  </div> </div>
       <br></div>
    <div class="col-sm-3 col-md-3 col-lg-3">
       <div class="card-hobbies">  <img src="/assets/Img/viajes.jpg" class="card-img-top" alt="...">  <div class="card-body">  <p class="card-text">Viajar!! Explorar nuevos horizontes!! Descubrir nuevos lugares!! Viajar es increíble!! Me encanta!!</p>  </div> </div>
       </div>
    </div>
</div> 
