<div class="card mat-card2">
    <h2> Educación</h2>
    <br>
 <div class="card-contenido">
    <div><img class="imglogo"  src=" /assets/Img/Arg programa.png"></div>
    <div><p class="texto"> Argentina Programa- Desarrollador Web Full Stack Jr.</p></div>
 </div>     
 <div class="card-contenido">
  <div><img class="imglogo" src="/assets/Img/ici.jpg"></div>
    <div> <p class="texto"> Instituto de Capacitación Integral- Secretariado Contable.</p></div>
 </div>
 <div class="card-contenido">
    <div> <img class="imglogo" src="/assets/Img/espacio set.jpg"></div>
    <div> <p class="texto"> Espacio Set- Profesional Estetisista.</p></div>  
  </div>
 <div class="card-contenido">
  <div><img class="imglogo" src="/assets/Img/celia.png"></div>
    <div> <p class="texto"> Celia, Escuela Integral Gastronómica- Profesional Gastronómica.</p></div>
 </div>
 <div class="card-contenido">
  <div><img class="imglogo" src="/assets/Img/azafran.jpg"></div>
  <div> <p class="texto"> Azafrán ,Escuela de Cocina- Profesional Barthender.</p></div>
   </div>    
   </div>
<hr>
