hr{
    border-color: rgb(247, 121, 142);
    }
    .mat-card3 {
        border-radius: 32px;
        margin: 10px 10px;
        padding:20px;
        border-color: rgb(248, 203, 233);
     }
    .card-contenido{
        display: flex;
        margin-bottom: 10px;
      }
      .imgEmpresa{
        width:100px;
        height:100px;
        border: 2px solid rgb(229, 145, 159);
        border-radius: 50px;
        box-shadow: 10px 10px 10px rgb(80, 56, 21);
        box-shadow: ejeX ejeY difumacion color;
      }
    
    .texto{
       margin-left: 20px;
       float:right;
       margin-top: 10%;
    }     