<div class="card mat-card3">
    <div class="card-titles">
     <h2> Experiencias</h2>
     <br>
      </div>
    <div class="card-contenido">
       <div><img class="imgEmpresa"  src="/assets/Img/cafe-martinez-logo.jpg"></div>
       <div><p class="texto"> Cafeteria, ayudante de cocina, cajera y moza de salón.</p></div>
    </div> 
    <div class="card-contenido">
       <div><img class="imgEmpresa"  src="/assets/Img/AMERIAN-HOTELES-16-9.jpg"></div>
       <div><p class="texto"> Ayudande de cocina y Buffet.</p></div>
    </div>  
    <div class="card-contenido">
       <div><img class="imgEmpresa"  src="/assets/Img/cvecinal.jpg"></div>
       <div><p class="texto"> Secretaria.</p></div>
    </div>  
    <div class="card-contenido">
       <div><img class="imgEmpresa"  src="/assets/Img/logo estetica.png"></div>
       <div><p class="texto"> Experta en Belleza Corporal y uñas.</p></div>
    </div>  
    <div class="card-contenido">
       <div><img class="imgEmpresa"  src="/assets/Img/jbgood-logo.jpg"></div>
       <div><p class="texto"> Cafeteria, ayudante de cocina.</p></div>
    </div> 
    </div>
 <hr>
