<div class="card mat-card"  id="first-card">
    <div id="profile-background"><img src="\assets\Img\imagenfondo.png"></div>
    <div id="info" style="padding:16px">
    <div id="info-img">
        <img class="profile-image" src="/assets/Img/fotomia.jpg">
    </div>
    <div id="info-data">
    <div>
        <h1>María Laura Páez</h1>
    <div id="info-company">Full Stack Developer Jr</div>
    <div id="info-contact">
        <span>Córdoba (Argentina)</span>
        <span><a href="#contacto">Informacion de Contacto</a></span>
    </div>
    </div>
    </div>
    </div>
</div>
   <hr>
