   <div class="card mat-card4">
    <div class="card-titles">
      <h2> Lenguajes de Programacion y Frameworks</h2>
      <br>
   </div>
   <div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
   <circle-progress
    [percent]="90"
    [radius]="100"
    [outerStrokeWidth]="14"
    [innerStrokeWidth]="1"
    [outerStrokeColor]="'#c9a974'"
    [innerStrokeColor]="'pink'"
    [showImage]="true"
    [imageSrc]="'../assets/html.png'"
    [imageWidth]="120"
    [imageHeight]="120"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="90"
    [radius]="100"
    [outerStrokeWidth]="14"
    [innerStrokeWidth]="1"
    [outerStrokeColor]="'#c9a974'"
    [innerStrokeColor]="'pink'"
    [showImage]="true"
    [imageSrc]="'../assets/csslogo.png'"
    [imageWidth]="120"
    [imageHeight]="120"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="50"
    [radius]="100"
    [outerStrokeWidth]="14"
    [innerStrokeWidth]="1"
    [outerStrokeColor]="'#c9a974'"
    [innerStrokeColor]="'pink'"
    [showImage]="true"
    [imageSrc]="'../assets/js.png'"
    [imageWidth]="120"
    [imageHeight]="120"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="50"
    [radius]="100"
    [outerStrokeWidth]="14"
    [innerStrokeWidth]="1"
    [outerStrokeColor]="'#c9a974'"
    [innerStrokeColor]="'pink'"
    [showImage]="true"
    [imageSrc]="'../assets/Typescript_logo_2020.svg.png'"
    [imageWidth]="120"
    [imageHeight]="120"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="70"
    [radius]="100"
    [outerStrokeWidth]="14"
    [innerStrokeWidth]="1"
    [outerStrokeColor]="'#c9a974'"
    [innerStrokeColor]="'pink'"
    [showImage]="true"
    [imageSrc]="'../assets/angular.png'"
    [imageWidth]="120"
    [imageHeight]="120"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="70"
    [radius]="100"
    [outerStrokeWidth]="14"
    [innerStrokeWidth]="1"
    [outerStrokeColor]="'#c9a974'"
    [innerStrokeColor]="'pink'"
    [showImage]="true"
    [imageSrc]="'../assets/mysql.jpg'"
    [imageWidth]="120"
    [imageHeight]="120"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="75"
    [radius]="100"
    [outerStrokeWidth]="14"
    [innerStrokeWidth]="1"
    [outerStrokeColor]="'#c9a974'"
    [innerStrokeColor]="'pink'"
    [showImage]="true"
    [imageSrc]="'../assets/github.png'"
    [imageWidth]="120"
    [imageHeight]="120"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3">
    <circle-progress
    [percent]="70"
    [radius]="100"
    [outerStrokeWidth]="14"
    [innerStrokeWidth]="1"
    [outerStrokeColor]="'#c9a974'"
    [innerStrokeColor]="'pink'"
    [showImage]="true"
    [imageSrc]="'../assets/JAVa.jpg'"
    [imageWidth]="120"
    [imageHeight]="120"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
   </div>
  </div>
   <hr>