<div class="card mat-card1">
    <div class="card-titles">
        <h2> Acerca de Mi..</h2>
    </div>
    <div>
      <p id="text-acercade">Soy una persona dinámica, capaz de trabajar sola como así tambien en grupo.Me relaciono muy bien con mis pares, siendo capaz de crear un grupo de trabajo de excelencia.Mi Objetivo es desempeñarme en el ámbito laboral de una manera eficaz, haciendo uso de mis conocimientos y habilidades, con el fin de crecer, no sólo de manera laboral sino además personal.</p>
    </div>  
</div>        
<hr>
